{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      {% if object.person %}
      <h2>{{ object.person.name }}</h2>
      <h3>AKA {{ object.username }}</h3>
      {% else %}
      <h2>{{ object.username }}</h2>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="card-deck">

  <div class="card border-0">
    <a class="btn btn-outline-primary" href="{% url 'users:update' %}" role="button">
        Update settings
    </a>
  </div>

  <div class="card border-0">
    <a class="btn btn-outline-primary" href="{% url 'account_email' %}" role="button">
        Change E-Mail
    </a>
  </div>

  <div class="card border-0">
    <a class="btn btn-outline-primary" href="{% url 'account_set_password' %}" role="button">
        Change Password
    </a>
  </div>

  <div class="card border-0">
    <a class="btn btn-outline-primary" href="{% url 'socialaccount_connections' %}" role="button">
        Connected Accounts
    </a>
  </div>
    <!-- Your Stuff: Custom user template urls -->

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
