{% extends "base.html" %}
{% load render_table export_url from django_tables2 %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}

{% if filter %}

<div class="row">
    <div class="col">
    {% crispy filter.form %}
    </div>
</div>

{% endif %}

<div class="row">
    <div class="col">
    {% render_table table %}
    </div>
</div>

{% if not view.export_perm or user|has_perm:view.export_perm %}
<div class="row">
    <div class="col">
        <a class="btn btn-outline-primary" href="{% export_url "csv" %}" role="button">
            Export CSV
        </a>
    </div>
</div>
{% endif %}

{% endblock content %}
